/* width */
html::-webkit-scrollbar {
width: 10px;
border-left:1px solid #888;
}

/* Track */
html::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
background: #FF007A;
border:3px solid #f1f1f1;
border-radius:100px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: #FF007A;
}

:root{
    --14px : 14px;
    --16px : 16px;
    --17px : 17px;
    --18px : 18px;
    --20px : 20px;
    --24px : 24px;
    --35px : 35px;
    --36px : 36px;
    --40px : 40px;
    --48px : 48px;
    --60px : 60px;
}
    

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body{opacity:0}
body,
p,
span,
.titulo,
h1,
h2,
h3,
h4,
h5,
button,
a{
    font-family: 'Poppins', sans-serif;
}
.pagina-inicial .conteiner{
    width:1330px;
    max-width:100%;
}
#rodape{
    background:#F6F6F6;
    padding:4rem 0;
    color:#111;
}
#rodape .row-flex{
    display:flex;
    justify-content:space-between;
    gap:50px;
}
#rodape .col-1 p{
    max-width:330px;
    width:100%;
    font-size:var(--14px);
    margin:0;
}
#rodape .col-1 > *{
    margin-bottom:30px
}
#rodape .col-1 > *:last-child{margin:0}
#rodape .ls_social a{
    color: #97D148;
    font-size:26px;
    margin-right: 30px;
}

#rodape .ls_whatsapp{
    width: 228px;
    line-height: 58px!important;
    background: #11D496;
    border-radius: 5px;
    font-weight: bold;
    font-size:var(--16px);
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display:block;
}

#rodape .ls_pages ul{
    list-style-type: none;
    margin:0 0 00px 0;
    padding:0;
}
#rodape .ls_pages a{
    font-size:var(--16px);
    color:#111;
    margin:7.5px 0;
    display:inline-block;
    white-space: nowrap;
}
#cabecalho{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    background:transparent;
    z-index:2
}
#theme_header_1{}
#theme_header_1 .logo  a{height:auto}
#theme_header_1 .logo img{position:relative;}
#theme_header_1 .row-flex{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between
}

.pagina-inicial .secao-banners,
.pagina-inicial #corpo > .conteiner{display:none}

#theme_header-functions .carrinho{
    border:0;
}
#theme_header-functions .carrinho > a > span{display:none!important;}
#theme_header-functions .carrinho > a > *{float:none;margin:unset;}
#theme_header-functions .carrinho > a > i{display:inline-block;width:auto;height:auto;}

#theme_header-functions .carrinho .qtd-carrinho{
    position: absolute;
    background: #ff007a;
    color: #fff;
    font-size:var(--14px);
    height: 32px;
    width: 32px;
    padding: 0;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    top: auto;
    right: -10px;
    font-weight: bold;
    bottom: -10px;
}

#theme_header-functions:after{display:none}
#theme_header-functions{
    display: flex;
    align-items: center;
    gap: 45px;
    margin:0
}
#theme_header-functions > li:nth-child(1) > a,
#theme_header-functions > li:nth-child(2) > a{
    font-size:var(--24px);
    text-transform: lowercase;
    color: #474747;
}

/* MENU TRIGGER & ASIDE MENU */
#theme_header-menu-trigger{
    width: 20px;
    height: 16px;
    position: relative;
    margin: 0 15px 0 0;
    transition: all .4s;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    vertical-align: middle;
    padding: 0;
    transition: all .4s;
    display: inline-block;
    flex: 0 0 20px;
}
#theme_header-menu-trigger.open{
    border-color: transparent;
}
#theme_header-menu-trigger.open:before{
    transform: rotate(45deg);  
    top:7px;
}
#theme_header-menu-trigger.open:after{
    transform: rotate(-45deg);
    bottom: 5px;    
}
#theme_header-menu-trigger:before{
    content: "";
    position: Absolute;
    border-top: 2px solid #fff;
    width: 100%;
    top: 0;
    transition: all .4s;
    left: 0;
}
#theme_header-menu-trigger:after{
    content: "";
    position: Absolute;
    border-top: 2px solid #fff;
    width: 100%;
    bottom: 5px;
    transition: all .4s;
    left: 0;
}

@media(min-width:990px){
    #cabecalho #theme_header-menu-trigger{display:none;}
    #theme_header_1{padding:1rem 0}

    #section_1,
    #section_3,
    #section_5{overflow:hidden;max-width:100vw}

    #section_1 picture img,
    #section_3 picture img,
    #section_5 picture img{
        width: 1920px;
        max-width: unset;
        left: 50%;
        transform: translate(-50%, 0);
        position: relative;
    }
}


.align-items-center {
    -webkit-align-items: center !important;
    -moz-box-align: center !important;
    align-items: center !important;
}
#ls_body .row-flex {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
#ls_body .col {
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    box-sizing: border-box;
}

#ls_body h2{
    font-size:var(--36px);
    font-weight:700;
    color:#FF007A
}
#ls_body h2 + p{
    color:#111;
    font-size:var(--24px);
    width:800px;
    max-width:100%;
    margin:0 auto 1rem auto
}
body,
#section_3,
#section_4,
#section_5,
#section_6{
    background:#F6F6F6
}
#section_4{margin-top:-4rem}

#ls_products .product_item{
    background: #fff;
    max-width: 100%;
    width: 380px;
    margin: 0 auto;
    border-radius: 22px;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    margin-top: 120px;
}
#ls_products .product_item img{
    margin: -120px -70px 0 -70px;
    max-width: unset;
}
#ls_products .product_item .text_1{
    color: #111;
    font-size:var(--24px);
    font-weight: bold;
    text-align: left;
}
#ls_products .product_item .text_2{
    font-size:var(--60px);
    color: #11D496;
    font-weight: bold;
    text-align:left;
    line-height: 70px;
}
#ls_products .product_item .text_2 small:before {
    content: "por";
    position: absolute;
    font-size:var(--18px);
    line-height: 27px;
    top: -15px;
}
#ls_products .product_item .text_2 small{
    font-size:var(--40px);
    line-height: 60px;
    position:relative;
}
#ls_products .product_item .text_2 span{
    font-size:var(--24px);
    color: #a7a7a7;
}
#ls_products .product_item .text_3{
    font-size:var(--24px);
    color: #111;
    text-align: left;
    margin-top: -15px;
}
#ls_products .product_item .list_1 {
    border-top: 1px solid #e3e3e3;
    margin: 2rem 0 1rem 0;
    text-align: left;
    color: #111;
    font-size:var(--18px);
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
}
#ls_products .product_item .buy{
    background: #FFFFFF;
    border: 2px solid #11D496;
    box-sizing: border-box;
    border-radius: 13px;
    font-weight: bold;
    font-size:18px;
    color: #11D496;
    text-transform: lowercase;
    line-height: 69px;
    display: block;
    max-width: 240px;
    margin: 0 auto -48px auto;
}

#ls_products .col:nth-child(2) .product_item{
    background: linear-gradient(47.18deg, #8D66FC -60.82%, #09DB8F 105.85%);
}
#ls_products .col:nth-child(2) .product_item *{
    color:#fff!important
}
#ls_products .col:nth-child(2) .product_item .buy{
    background: #11D496;
    color:#fff;
}

#ls_influencers .slick-dots{
    position: relative;
    bottom:auto;
    width: fit-content;
    margin: 3rem auto 1rem auto;
    background: #e3e3e3;
    border-radius: 30px;
    line-height: 0px;
    height: 3px;
    display:flex!important
}
#ls_influencers .slick-dots > li{
    padding:0;
    margin:0;
}
#ls_influencers .slick-dots > li > button {
    opacity: 0;
    width: 115px;
    margin: -21px 0 -1px 0;
    height: 7px;
    box-shadow: unset;
    border-radius: 3px;
}
#ls_influencers .slick-dots > li.slick-active > button{
    opacity: 1;
    font-size:0;
    background: #ff007a;
}
#ls_influencers ul.slick-slider{margin:0}
#ls_influencers .slick-arrow{
    font-size:var(--20px);
    color: #111;
    background: #ff007a;
    opacity: 1;
    height: 40px;
    width: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 6px 11px;
    box-sizing: border-box;
    text-indent: unset;
    position: absolute;
    top: 50%;
    right: 0;
    z-index:3;
}
#ls_influencers .slick-arrow:first-child{
    left: 0;
    right: auto;
}
#section_2  h2 + p,
#section_7  h2 + p{text-align:left;width:auto;margin:0 0 2rem 0}
#section_2  h2 svg{
    margin: 0 15px;
    vertical-align: middle;
}
#section_7  h2{color:#111}
#section_2  h2{color:#474747;}
#section_2  h2 b{color:#FF007A}

.influencer_item{text-align: center;}
.influencer_item img{margin:0 auto 3rem auto;}
.influencer_item > *{margin-bottom:.5rem;}
.influencer_item .text_1{
    color: #FF007A;
    font-size:var(--24px);
    font-weight: bold;
}
.influencer_item .text_2{
    font-weight: bold;
    font-size:var(--17px);
    color: #a7a7a7;
}
.influencer_item .text_3{
    color:#111;
    font-size:var(--18px);
}
#section_2{overflow-x:hidden}
#ls_influencers,
#ls_influencers .slick-list{overflow:visible!important}

#section_7{padding:3rem 0;background:#fff;}
#ls_testimonials{margin-top:3rem}
#ls_testimonials .info > div {
    background: linear-gradient(67.84deg, rgba(255, 245, 0, 0.1) 1.95%, #1FFFD7 143.24%);
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0 1rem;
    border-radius: 10px;
}
#ls_testimonials .info > div .stars{
    color:#11D496;
    font-size:35px;
    display:flex;
    gap:10px
}
#ls_testimonials .info > div > span{
    font-weight: bold;
    font-size:var(--48px);
    color:#111
}

#ls_testimonials .list{margin-left: 5rem;}
#ls_testimonials .list .item{margin-bottom:3rem}
#ls_testimonials .list .stars{
    color: #111;
    font-size:var(--18px);
    display: flex;
    gap: 5px;
    margin: 5px 0 15px 0;
}
#ls_testimonials .list .text_1{
    font-weight: bold;
    font-size:var(--18px);
    color:#a7a7a7
}
#ls_testimonials .list .text_2{
    font-weight: bold;
    font-size:var(--24px);
    color: #111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
#ls_testimonials .list .text_3,
#ls_testimonials .list .text_2 small{
    font-size:var(--16px);
    color:#111;
    font-weight: normal;
}
#section_6{padding:3rem 0}
#section_6 h2{color:#111}
#section_6 h2 b{
    color:#11D496
}

#ls_secure{margin-top: 3rem;}
#ls_secure .item{
    display: flex;
    text-align: left;
    align-items: center;
    gap: 2rem;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    margin:2rem
}
#ls_secure .item img{}
#ls_secure .item .text_1{
    font-size:var(--24px);
    font-weight: bold;
    color:#111
}
#ls_secure .item .text_1 p{
    font-weight: normal;
    font-size:var(--18px);
    margin: 0;
}

.col-12 {
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px){
    .col-md-6 {
        -webkit-flex: 0 0 50%;
        -moz-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
#section_7{position: relative;}
#section_7 .wave{
    position: absolute;
    top: -25px;
    right: 3rem;
}

body:not(.pagina-inicial) #cabecalho{
    position: relative;
    background: #FF007A;
}
body:not(.pagina-inicial) #cabecalho svg{
   fill: #fff;
    filter: brightness(0) invert(1);
}
body:not(.pagina-inicial) #theme_header-functions > li > a{color:#fff}

.caixa-sombreada{
    box-shadow: unset;
    border: 0;
    background: #fff;
    border-radius: 8px;
}
h1.titulo{
    color:#111;
    font-weight: bold;
    font-size:var(--36px)!important;
    line-height:initial;
    margin:2rem 0;
}
h1.titulo small{
    display:block;
    color:#111;
    font-size:var(--24px)!important;
}
.caixa-sombreada .titulo{
    color:#111;
    font-weight: bold;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    box-shadow: unset;
}
.botao{
    border-radius:3px;
    background-image:unset;
    text-shadow: unset;
    border:0
}

.carrinho-interno-ajax{display:none!important}

.tabela-carrinho{
    border-radius: 10px!important;
    overflow: hidden;
    border: 0!important;
}
.tabela-carrinho *{border-color:#f2f2f2!important}
.tabela-carrinho th,
.tabela-carrinho tr,
.tabela-carrinho td{border-left:0!important;border-right:0!important;background:#fff;}
.tabela-carrinho thead tr{border-top:0!important}
.tabela-carrinho .bg-dark:last-child{border-bottom:0!important}
.pagina-carrinho .acao-editar .botao.grande{
    font-weight: bold;
    text-shadow: unset;
    border-radius: 8px;
    font-size:20px;
    background-image: none;
}
.carrinho-checkout .conteiner-principal #corpo .conteiner{box-shadow:unset}
.tema-transparente .identificacao .identificacao-inner{background: transparent;border:0}
.identificacao .control-group .submit-email.botao.principal{
    font-size:var(--16px);
    line-height: initial;
}
.carrinho-checkout .identificacao hr.sem-margem{display:none}

#ls_body .conteiner{box-sizing: border-box;}
.list-toggle{display:none}
.col-auto {
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.col-auto,
.col-auto *{    box-sizing: border-box;}

body:not(.pagina-inicial) #theme_header-functions .carrinho .qtd-carrinho{
    color:#ff007a;
    background: #fff;
}
@media(max-width:990px){
    :root{
        --14px : calc(14px * .8);
        --16px : calc(16px * .8);
        --17px : calc(17px * .7);
        --18px : calc(18px * .7);
        --20px : calc(20px * .7);
        --24px : calc(24px * .6);
        --35px : calc(35px * .6);
        --36px : calc(36px * .6);
        /* --40px : calc(40px * .6);
        --48px : calc(48px * .7);
        --60px : calc(60px * .7); */
    }

    
    #ls_products .product_item{margin-bottom: 2rem;}

    .list-toggle{
        display: block;
        background: transparent;
        margin: 1rem auto 0 auto;
    }
    #ls_products .product_item .list-toggle + .list_1{display:none}
    #ls_products .product_item .list-toggle + .list_1.visible{
        display:flex;
        margin-top: 1rem;
        padding-top: 1.5rem;
    }
    #ls_products .product_item .buy{margin-top: 1rem;}

    #ls_products .col:nth-child(2) .product_item svg path{fill: #fff;}

    #ls_products .product_item *{text-align:center!important}

    #ls_secure .item{margin: 1rem;padding:1.5rem}
    #ls_secure .item img{max-height: 48px;}

    #section_7 .wave svg{width:100%}
    #section_7 .wave{width:200px;right:0}

    #section_7,
    #section_6{padding: 1rem 0 0 0;}
    #section_4 {margin: -1rem 0 -2rem 0;}

    #ls_testimonials {
        margin-top: 3rem;
        flex-direction: column;
        gap: 2rem;
    }
    #ls_testimonials .list{margin-left: 0;}
    #ls_testimonials .info > div{justify-content:space-between}

    #section_7 #ls_testimonials{
        margin:0
    }
    #ls_testimonials .info > div .stars{font-size: 30px;}
    #ls_testimonials .list .text_2 small{white-space: nowrap;}

    #rodape *{box-sizing: border-box;}
    #rodape{
        box-sizing: border-box;
        padding: 0 1rem;
        gap: 1rem;
    }
    #rodape img{max-width: 100%;}
    #rodape .row-flex{
        flex-direction: column;
    }
    #rodape .ls_whatsapp{margin-bottom: 1rem;}
    .influencer_item{padding: 0 .5rem;}
    #ls_influencers .slick-dots > li > button{width: 50px;}

    #ls_body{overflow: hidden;}
    #section_2 h2 svg{display:none}
    #section_2 h2,
    #section_2 h2 + p{text-align:center}

    #cabecalho{padding: 0;}
    .pagina-inicial #cabecalho #theme_header-functions,
    .pagina-inicial #theme_header-menu-trigger{display:none}
    .pagina-inicial #theme_header_1 .row-flex{justify-content: center;}
    #theme_header_1 .logo img{height: 20px;}

    #theme_header_1 .row-flex{flex-wrap: wrap;}
    #theme_header_1 .row-flex > div{width: 100%;}
    #theme_header_1 .logo{margin: 0 0 .5rem 0;}
    #theme_header_1 .logo a {
        height: auto;
        width: fit-content;
        margin: 0 auto;
        display: block;
    }
    #cabecalho svg{height: 30px;}
    
    body:not(.pagina-inicial) #theme_header-functions .carrinho .qtd-carrinho{
        color: #ff007a;
        background: #fff;
        height: 20px;
        width: 20px;
        line-height: 20px;
        bottom: 0;
        right: 0;
    }
    #theme_header-functions{justify-content: space-between;padding: 0 .5rem;}
    .carrinho{
        width: fit-content;
        float: none;
    }
    .tabela-carrinho{background: #fff;}
    .tabela-carrinho tr{padding: 0;}
    .tabela-carrinho tr,
    .tabela-carrinho td{margin: 0;}
    body.pagina-carrinho:not(.carrinho-checkout) .tabela-carrinho td{border: 0; text-align: center;}
    body.pagina-carrinho:not(.carrinho-checkout) .tabela-carrinho td *{text-align: center!important;}

    .pagina-carrinho .acao-editar a,
    .pagina-carrinho .acao-editar button{
        float: none;
        margin: 0.5rem 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    .pagina-carrinho .acao-editar .botao.grande{}
}